body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #0f172a;
  color: white;
}

header {
  background: #020617;
  padding: 20px;
  text-align: center;
}

.container {
  max-width: 900px;
  margin: auto;
  padding: 15px;
}

.video-box {
  position: relative;
  padding-top: 56.25%;
  border-radius: 10px;
  overflow: hidden;
  background: black;
}

.video-box iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.info {
  margin-top: 20px;
  background: #020617;
  padding: 15px;
  border-radius: 8px;
}

footer {
  text-align: center;
  font-size: 14px;
  opacity: 0.7;
  padding: 10px;
}
